
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <title>Your Dashboard</title>
</head>
<body>

    <header>
        <h1>Your Dashboard</h1>
        <nav>
            <ul>
                <li><a href="#overview">Overview</a></li>
                <li><a href="#section1">Metrics score</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="overview" class="dashboard-section">
            <div class="overview-widget">
                <h3>Overview</h3>
                <p >The score of this idea is: <strong style="font-size: 1.5em; color: #3498db;">{{ data.score_total }}</strong></p>
                <p style="margin-top: 10px;">Here is a brief review:</p>
                <p>{{ data.ovl_eval }}</p>
            </div>
        </section>
        <section id="section1" class="dashboard-section">
            <h2>Metrics score</h2>
            <div class="metrics-container">
                {% for metric_data in data.eval_breakdown %}
                <div class="widget">
                    <h3>{{ metric_data['metric'] }}</h3>
                    <strong>Score:</strong> {{ metric_data['score'] }}<br>
                    <strong>Explanation:</strong> {{ metric_data['explanation'] }}<br><br>
                </div>
                {% endfor %}
            </div>
        </section>
        
    </main>

</body>
</html>
